*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    list-style: none;
}
nav{
    display: flex;
   align-items: center;
    flex-direction: column;
}
.nav_item{
    height: 710px;
}
.nav_items {
    display: flex;
    gap: 60px;
    align-items: center;
    height: 100px;
    font-size: 20px;
    font-weight: 900;
}
nav a{
    text-decoration: none;
    color: white;
}
.nav_image_beats img{
  height: 30px;
  width: 30px;
  margin-top: 32px;
  padding-right: 26px;
}
.nav_main_image img{
    display: inline;
    height: 460px;
    width: 270px;
}
.nav_items_shop a{
background-color: rgba(128, 128, 128, 0.719);
padding: 7px 35px 10px 35px;
border-radius: 6px;
}
.nav-data{
    display: flex;
    
}
.nav-second-part h1{
    color: white;
}
.nav-second-part img{
    height: 80px;
    width: 360px;
}
.nav-second-part{
    margin-top: 40px;
  height: 140px;
  flex-direction: column;
  display: flex;
align-items: flex-end;
}
.nav-second-part-h1{
    display: flex;
    color: rgb(252, 248, 248);
    flex-direction: column;
    width: 420px;
    gap: 48px;
    margin-top: 10px;
    font-size: 30px;
}
.nav-second-part-para{
    color: rgb(175, 170, 170);
    font-size: 18px;
    display: flex;
}
.nav-second-last{
    display: flex;
    
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 8px;
    font-size: 20px;
    border-radius: 8px;
    background-color:   rgb(29, 28, 28);
    margin-bottom: 10px;
    width: 300px;
}
.nav-second-last h6{
    font-size: 25px;
}
.nav-second-last img{
    height: 30px;
    width: 30px;
}
.images {
    display: flex;
    gap: 155px;
}
section p{
    color: white;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
.section-data{
    display: flex;
    gap: 190px;
    margin-top: 30px;
}
.section-data-icons{
    width: 180px;
    padding: 20px 0px 20px 0px;
    gap: 38px;
    display: flex;
    flex-direction: column;
}
.section-data-icons p{
    font-size: 13px;
}
.section-bluetooth {
    display: flex;
    margin-left: 70px;
}
.section-bluetooth-para {
margin-left: 70px;
}
.section-bluetoot-and-para span{
    font-size: 19px;
}
.section-mic{
    display: flex;
    margin-left: 70px;
}
.mic-para{
    margin-left: 70px;
    margin-top: 4px;
}
.mic-para span{
    font-size: 17px;
}
.section-battery-para span{
    font-size: 19px;
}
.section-charger-and-para span{
    font-size: 19px;
}
.section-headfone img{
    height: 380px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 40px;
}
.main-data{
    display: flex;
  color: rgb(175, 170, 170);
    gap: 110px;
    align-items: center;
    padding: 75px;
}
.main-data img{
    height: 300px;
    width: 200px;
}
.main-case-image img{
    margin-top: 60px;
}
.main-data-para{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-group{
    display: flex;
    background-color: rgb(32, 30, 30);
    justify-content: center;
    padding: 14px;
    color: white;
    border-radius: 10px;
    width: 190px;
    gap: 25px;

}
.main-group img{
    height: 20px;

    width: 20px;
}
.main-second-part{
    display: flex;
    gap: 80px;
    width: 980px;
    height: 380px;
    background-color: rgb(24, 23, 23);
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.main-second-part-data{
    display: flex;
    flex-direction: column;
}
.main-buynow{
    display: flex;
    align-items: center;
    padding: 5px;
    padding-top: 8px;
    background-color: black;
    justify-content: center;
    margin-top: 17px;
    width: 180px;
    gap: 16px;
    border-radius: 10px;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    color: white;
}
.article-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    height: 720px;
   width: 450px;
    justify-content: center;
    margin-right: 200px;
}
.article-main-image{
    margin-bottom: 90px;
}
.article-images img{
    height: 140px;
    width: 100px;
}
.article-box{
    display: flex;
    background-color: rgb(24, 23, 23);
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    border-radius: 10px;
    width: 170px;
}
.shopping-bag img{
    height: 20px;
    width: 20px;
}
.shopping-bag
{
    display: flex;
    width: 140px;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
}
.shopping-bag-data span{
    color: rgb(175, 170, 170);
}
.shopping-bag-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    width: 40px;
}

.headfone {
    display: flex;
    justify-content: center;
    margin: -46px;
}
.shopping-bag-data {
    display: flex;
    width: 140px;
    justify-content:space-between;
}
footer{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 100px;
}
.footer-beats-logo{
    margin-left: 200px;
}
footer li{
    list-style: none;
    font-size: 18px;
    color: rgb(175, 170, 170);
}
footer span{
    font-size: 25px;
    color: white;
}
.footer-data{
    display: flex;
    background-color:   rgb(29, 28, 28);
    padding: 9px;
    gap: 120px;
    font-size: 21px;
    border-radius: 10px;
    align-items: center;
}
.footer-data p{
    color: rgb(175, 170, 170);
}
.footer-data-items{
    display: flex;
    gap: 16px;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    background-color: black;
}
.footer_last{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.footer-item{
display: flex;
gap: 20px;
}
.footer-up-arrow img{
    margin-right: 25px;
    border-radius: 10px;
}